*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
}
h1{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
}

.card{
    width: 90%;
    margin: 0 auto;
    padding: 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 2rem;
}
.emojiItem{
    padding: 20px 10px;
    background: rgb(189, 187, 187);
    box-shadow:  0 0 15px red;
    text-align: center;
    border-radius: 20px;
    font-size: 1.5rem;
}
p{
    color: black;
    font-size: 1rem;
    margin-top: 1rem;
}

@media only  screen and (max-width:768px) {
    .card{
        grid-template-columns: repeat(2,1fr);
    }

}

form{
    width: 70%;
    height: 7vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 10px;
}
input{
    text-transform: capitalize;
    width: 90%;
    font-size: 1.5rem;
    border: 0;
    outline: 0;
    text-indent: 10px;
}
button{
    text-transform: capitalize;
    border: 0;
    outline: 0;
    width: 10%;
}